h1,
h2,
h3,
a {
  font-family: "Palanquin", sans-serif;
  margin: 0 auto;
}

h3 {
  font-size: 22px;
}

h2 {
  font-size: 26px;
}

p {
  font-family: "Roboto", sans-serif;
  color: #616263;
  font-size: 20px;
}

body {
  margin: 0 auto;
}


/*HEADER*/

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 24px;
  padding-left: 24px;
  height: 64px;
}

.logo {
  display: flex;
}

.mobile-nav {
  display: none;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 16px;
}

/*BANNER*/

.banner {
  display: flex;
  align-content: center;
  /*background-image: url("/colmar-academy/assets/images/banner.jpg");*/
  padding: 32px 40px 32px 24px;
  /*max-width: 60%;*/
  background-color: #e0dede;
}

.banner .content {
  padding-left: 40px;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  /*width: 423px;*/
}

.button {
  background-color: #373b42;
  color: white;
  text-align: center;
  padding: 8px 100px;
  font-size: 20px;
  justify-content: space-around;
  margin-top: 20px;
  font-family: "Palanquin", sans-serif;
}

.banner h1 {
  font-size: 50px;
  line-height: 1.3;
  padding-bottom: 12px;
}

.banner h2 {
  padding-bottom: 12px;
}

.banner p {
  /*margin-top: 200px;*/
}

.banner img {
  width: 100%;
  /*height: 60%;*/
}

/*SUPPORTING*/

.supporting {
  display: flex;
  padding-top: 32px;
  /*width: 100%;*/
}

.supporting-main {
  width: 77%;
  padding-right: 24px;
  padding-left: 24px;
  /*padding-top: 32px;*/
  /*border-right: solid 1px #e0dede;*/
}

.supporting-main h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

#quote {
  padding-bottom: 32px;
  color: black;
  font-size: 14px;
}

.supporting-main .content {
  flex-direction: column;
  justify-content: space-between;
}

.main img {
  width: 100%;
}

.supporting-main img {
  width: 100%;
}

.supporting-topics .content {
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  width: 423px;
}

.topic {
  /*width: 423px;*/
  /*padding-left: 16px;*/
  align-content: center;
  align-items: center;
  justify-content: center;
  /*background-color: beige;*/
  display: inline-flex;
  /*flex-direction: column;*/
  /*width: 30%;*/
  border: solid 1px #e0dede;
}

.guest {
  background-color: #e0dede;
  z-index: 5;
  /*margin-bottom: 32px;*/
}

.supporting-topics img {
  width: 35%;
  /*background-color: teal;*/
  margin: 16px;
}

.supporting-topics {
  /*width: 43%;*/
  flex-direction: column;
  justify-content: flex-start;
  border-left: solid 1px #e0dede;
  display: flex;
  /*margin-left: 16px;*/
  /*z-index: 5;*/
  /*position: relative;*/
}


/*COURSES SECTION*/

.courses {
  background-color: #e0dede;
  /*margin-top: 32px;*/
}

.courses h1 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.subject .content {
  padding-left: 16px;
  padding-right: 16px;
  /*padding-top: 16px;*/
  padding-bottom: 24px;
}

.subject .content h2 {
  padding-top: 16px;
}

.subject .content h3 {
  padding-top: 8px;
  padding-bottom: 8px;
}


.image-container {
  overflow: hidden;
}

.courses-subjects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 32px;
  /*width: 50%;*/
}

.subject {
  width: 400px;
  /*height: 220px;*/
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: left;
  margin: 16px;
  background-color: white;
}

.subject .content {
  /*height: 60%;*/
}

.courses h3 {
  padding: 8px 0px;
}

.subject img {
  /*width: 220px;*/
}


/*THESIS SECTION*/

.thesis-thesis {
  padding-top: 32px;
}

.thesis {
  display: flex;
  /*margin-top: 32px;*/
}
.thesis-title {
  text-align: center;
  padding-top: 32px;
  /*margin-top: 32px;*/
  display: inline;
}

.thesis-main {
  flex-direction: column;
  margin: 32px 16px 24px 24px;
  width: 60%;
}

.thesis video {
  width: 100%;
}

.main video {
  /*width: 60%;*/
}

.thesis-topics {
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  display: flex;
  margin-top: 32px;
  width: 43%;
}

.thesis-topics .content {
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  width: 423px;
  justify-content: space-between;
  padding-right: 24px;
}

.thesis-topics .topic {
  border: none;
}

#deadspace {
  color: #e0dede;
}

.thesis-topics img {
  width: 35%;
  margin: 16px;
}

.bottombar {
  border-top: 2px solid #e0dede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 780px) {
  .supporting-main {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .topbar {
    display: none;
    /*visibility: hidden;*/
  }
  .mobile-nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 64px;
  }
  /*.banner img {
    display: none;
  }*/

  .banner {
    flex-wrap: wrap;
    flex-direction: column;
    /*min-width: 335px;*/
    /*padding-bottom: 32px;*/
  }
  .button {
    background-color: #616263;
    margin-bottom: 32px;
  }
  .supporting-main {
    display: none;
    margin: 0 auto;
  }
  .supporting {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 16px 32px 16px;
    /*width: 100%;*/
  }
  .topic {
    border: none;
    flex-direction: column;
    padding-bottom: 16px;
    width: 100%;
  }
  .supporting-topics {
    /*width: 100%;*/
    border: none;
    flex-direction: column;
    /*justify-content: space-between;*/
  }
  .topic img {
    /*max-height: 35%;
    width: 100%;*/
    overflow: hidden;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .courses img,
  .courses p,
  .courses h3 {
    display: none;
  }
  .courses .content {
    padding: 16px;
    margin-bottom: 8px;
  }
  .courses .subject {
    background-color: #e0dede;
    margin: 8px;
  }
  .courses-subjects {
    justify-content: center;
    /*margin: 16px 16px;*/

  }
  .courses {
    background-color: white;
    border-top: solid 2px #e0dede;
    border-bottom: solid 2px #e0dede;
    padding: 32px 16px;
  }
  .guest {
    background-color: white;
    padding-bottom: 0;
  }
  .thesis-topics {
    display: none;
  }
  .supporting-topics {
    min-width: 100%;
  }
  .thesis-main {
    width: 100%;
    height: 100
  }
  .bottombar {
    justify-content: center;
    padding-top: 24px;
    /*font-size: 14px;*/
  }
  .bottombar p {
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .bottombar ul {
    display: none;
  }
}
