.container {
  margin: 0 auto;
  max-width: 960px;
}

.banner {
  display: flex;
  align-content: center;
  /*background-image: url("/colmar-academy/assets/images/banner.jpg");*/
  margin: 32px 24px;
  /*max-width: 60%;*/
}

.banner img {
  width: 60%;;
  height: 60%;
}

/*SUPPORTING*/

.supporting {
  display: flex;
}

.supporting-main .content {
  flex-direction: column;
  width: 60%;
  background-color: pink;
}

.supporting-main img {
  width: 60%;
}

.supporting-topics .content {
  /*flex-direction: column;*/
  /*align-items: flex-end;*/
  /*align-content: flex-end;*/
  width: 423px;
  background-color: lightgreen;
}

.supporting-topics .topic {
  width: 423px;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: beige;
  display: inline-flex;
}
.supporting-topics img {
  width: 35%;
  background-color: teal;
}

.supporting-topics {
  background-color: PeachPuff;
  /*align-self: flex-end;*/
}

/*.main .content {
  width: 60%;
}

.supporting {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.supporting .main img {
  width: 60%;
  height: 60%;
}

.supporting .topics img {
  width: 35%;
}*/

/*.supporting .topic {
  justify-content: flex-end;
}*/
/*COURSES SECTION*/

.courses {
  background-color: lightblue;
}

.courses h1 {
  text-align: center;
  padding-top: 32px;
}

.subject .content {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.image-container {
  overflow: hidden;
}

.courses-subjects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 32px;
}

.subject {
  width: 400px;
  /*height: 220px;*/
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: left;
  margin: 16px;
  background-color: white;
}

.subject .image-container img {
  padding-bottom:
}




.thesis video {
  width: 60%;
  height: 60%;
}


/*HEADER*/

/*header {
  display: flex;
  justify-content: flex-start;
}*/

/*.logo {
  display: inline;
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
}*/


/*
CLASSES

container
topics
subjects
courses
supporting
thesis
banner*/
