h1,
h2,
h3 {
  font-family: "Palanquin", sans-serif;
  margin: 0 auto;
}

p,
a {
  font-family: "Roboto", sans-serif;
  /*margin: 0 auto;*/
}


/*HEADER*/

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 24px;
  padding-left: 24px;
  height: 64px;
}

.logo {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 16px;
}

/*BANNER*/

.banner {
  display: flex;
  align-content: center;
  /*background-image: url("/colmar-academy/assets/images/banner.jpg");*/
  padding: 32px 40px 32px 24px;
  /*max-width: 60%;*/
  background-color: #e0dede;
}

.banner .content {
  padding-left: 40px;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  /*width: 423px;*/
}

.button {
  background-color: #373b42;
  color: white;
  text-align: center;
  padding: 8px 200px;
  font-size: 20px;
  justify-content: space-around;
  margin-top: 20px
}

.banner h1 {
  font-size: 50px;
  /*margin: 0 auto;*/
}

.banner p {
  /*margin-top: 200px;*/
}

.banner img {
  width: 60%;;
  height: 60%;
}

/*SUPPORTING*/

.supporting {
  display: flex;
  /*background-color: mediumseagreen;*/
}

.supporting-main {
  width: 60%;
  margin: 32px 24px;
}

.supporting-main h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.supporting-main .content {
  flex-direction: column;
  /*width: 60%;*/
  /*background-color: pink;*/
  /*position: absolute;*/
}

.supporting-main img {
  width: 790px;
  /*margin: 32px 24px;*/
}

.supporting-topics .content {
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  width: 423px;
  /*background-color: lightgreen;*/
}

.topic {
  /*width: 423px;*/
  /*margin-left: 16px;*/
  align-content: center;
  align-items: center;
  justify-content: center;
  /*background-color: beige;*/
  display: inline-flex;
  /*flex-direction: column;*/
  /*width: 30%;*/
  border: solid 1px #e0dede;
}

.guest {
  background-color: #e0dede;
  z-index: 5;
}

.supporting-topics img {
  width: 35%;
  /*background-color: teal;*/
  margin: 16px;
}

.supporting-topics {
  /*background-color: PeachPuff;*/
  flex-direction: column;
  justify-content: center;
  /*width: 423px;*/
  /*align-content: flex-start;*/
  /*align-items: flex-start;*/
  /*width: 30%;*/
  display: flex;
  /*margin-left: 16px;*/
  /*z-index: 5;*/
  /*position: relative;*/
}


/*COURSES SECTION*/

.courses {
  background-color: #e0dede;
}

.courses h1 {
  text-align: center;
  padding-top: 32px;
}

.subject .content {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.image-container {
  overflow: hidden;
}

.courses-subjects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 32px;
}

.subject {
  width: 400px;
  /*height: 220px;*/
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: left;
  margin: 16px;
  background-color: white;
}

.courses h3 {
  padding: 8px 0px;
}

.subject img {
  /*width: 220px;*/
}


/*THESIS SECTION*/

.thesis {
  display: flex;
}
.thesis-title {
  text-align: center;
  margin-top: 32px;
  display: inline;
}

.thesis-main {
  flex-direction: column;
  margin: 32px 16px 24px 24px;
  width: 60%;
}

.thesis video {
  width: 790px;
}

.thesis-topics {
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  display: flex;
  margin-top: 32px;
}

.thesis-topics .content {
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  width: 423px;
  height: 168px;
  justify-content: space-between;
}

.thesis-topics .topic {
  border: none;
}

.thesis-topics img {
  width: 35%;
  margin: 16px;
}

.bottombar {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
}
